@import "./colors";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background-color: $bg-cream;
  padding: 6rem 0;
  p {
    font-size: 3rem;
    width: 70%;
    margin: 0 auto;
    color: $grey;
    b:first-child {
      background-color: $bg-b-text;
      color: $white;
    }
    .comp {
      color: $bg-b-text;
    }
  }
  @include responsive(tablet-p) {
    p {
      font-size: 2.4rem;
    }
  }
  @include responsive(tablet) {
    p {
      font-size: 2rem;
    }
  }
  @include responsive(phone) {
    p {
      font-size: 1.6rem;
      width: 90%;
    }
  }
}
